<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{bootstrap/bootstrap.min.css}" rel="stylesheet">
<script th:src="@{js/jquery-3.7.1.min.js}"></script>
<script th:src="@{js/member.js}"></script>
<title>중복 닉네임 체크</title>
</head>
<body>
	<div class="row my-5" id="global-content">
		<div class="col" th:if="${overlapNickname}">
			<div class="row text-center">
				<div class="col">
					<h2 class="fs-3 fw-bold">사용할 수 없는 닉네임</h2>
				</div>
			</div>
			<div class="row my-3 text-center">
				<div class="col">입력하신 [[${nickname}]]는 이미 사용 중인 닉네임 입니다.</div>
			</div>
			<div class="row my-3">
				<div class="col text-center">다른 닉네임을 선택해 주세요</div>
			</div>
			<form action="overlapNicknameCheck" name="nicknameCheckForm" method="post" id="nicknameCheckForm" class="row mt-5">
				<div class="col-10 offset-1">
					<div class="input-group">
						<span class="input-group-text">* 닉네임 : </span> 
						<input type="text" class="form-control" name="nickname" id="checkNickname"> 
						<input type="submit" class="btn btn-primary" value="중복확인">
					</div>
				</div>
			</form>
		</div>
		<div class="col" th:unless="${overlapNickname}">
			<div class="row text-center">
				<div class="col">
					<h2 class="fs-3 fw-bold">사용할 수 있는 닉네임</h2>
				</div>
			</div>
			<div class="row my-3 text-center">
				<div class="col">입력하신 [[${nickname}]]는 사용할 수 있는 닉네임 입니다.</div>
			</div>
			<div class="row mt-5">
				<div class="col text-center">
					<input type="button" th:value="|${nickname}을(를) 닉네임으로 사용하기|"
						id="btnNicknameCheckClose" th:data-id-value="${nickname}"
						class="btn btn-primary" />
				</div>
			</div>
		</div>
	</div>
</body>
</html>