<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.springbootproject.bbs.mapper.BoardMapper">

<!-- 게시글 리스트 조회 -->
<select id = "boardList" parameterType="map" resultType = "Board">
	SELECT b.board_no, b.board_title, b.board_content, b.board_pass, b.board_reg_date, b.board_view, b.member_id, b.board_file1, b.board_like, b.board_dislike, c.category_code, c.category_name 
	FROM board b JOIN category c
	ON b.category_code = c.category_code
	<where>
	b.category_code = #{categoryCode} 
		<if test="type == 'title'">
			AND board_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'writer'">
			AND member_id LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'content'">
			AND board_content LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</where>	
	ORDER BY b.board_no DESC
	LIMIT #{startRow}, #{num}
</select>

<!-- 전체 게시글 수 -->
<select id="getBoardCount">
	SELECT COUNT(board_no)
	FROM board b JOIN category c
	ON b.category_code = c.category_code
	<where>
	b.category_code = #{categoryCode} 
		<if test="type == 'title'">
			AND board_title LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'writer'">
			AND member_id LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="type == 'content'">
			AND board_content LIKE CONCAT('%', #{keyword}, '%')
		</if>
	</where>
</select>

<!-- 게시글 상세보기 -->
<select id = "getBoard" resultType = "Board">
	SELECT b.board_no, b.board_title, b.board_content, b.board_pass, b.board_reg_date, b.board_view, b.member_id, b.board_file1, b.board_like, b.board_dislike, c.category_code, c.category_name 
	FROM board b JOIN category c
	ON b.category_code = c.category_code
	WHERE b.category_code = #{categoryCode}
	AND b.board_no = #{boardNo}
	ORDER BY b.board_no DESC
</select>

<!-- 게시글 조회수 -->
<update id="incrementReadCount">
	UPDATE board b
			JOIN category c
	ON b.category_code = c.category_code
	SET b.board_view = b.board_view + 1
	WHERE b.category_code = #{categoryCode}
	AND b.board_no = #{boardNo};
</update>

<!-- 게시글 작성 -->
<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="boardNo">
	INSERT INTO board(board_title, board_content, board_pass, board_reg_date, board_view, category_code, member_id, board_file1, board_like, board_dislike)
	VALUES(#{boardTitle}, #{boardContent}, #{boardPass}, SYSDATE(), #{boardView}, #{categoryCode}, #{memberId}, #{boardFile1}, #{boardLike}, #{boardDislike})
</insert>

<!-- 게시글 비밀번호 확인 -->
<select id="isPassCheck">
	SELECT board_pass
	FROM board
	WHERE board_no = #{boardNo}
</select>

<!-- 게시글 수정 -->
<update id="updateBoard" parameterType="Board">
	UPDATE board
	SET board_title = #{boardTitle}, board_content = #{boardContent}, board_reg_date = SYSDATE()
	WHERE board_no = #{boardNo}
</update>

<!-- 게시글 삭제 -->
<delete id="deleteBoard">
	DELETE FROM board
	WHERE board_no = #{boardNo}
</delete>

<!-- 댓글 조회 -->
<select id="replyList" resultType="Reply">
	SELECT *
	FROM reply
	WHERE board_no = #{boardNo}
	ORDER BY reply_no DESC
</select>

<!-- 좋아요/싫어요 업데이트 -->
<update id="updateRecommend">
	UPDATE board
	SET
	<if test = "recommend == 'boardLike'">
		board_like = board_like + 1
	</if>
	<if test = "recommend == 'boardDislike'">
		board_dislike = board_dislike + 1
	</if>
	WHERE board_no = #{boardNo}
</update>

<!-- 좋아요/싫어요 수 조회 -->
<select id="getRecommend" resultType="Board">
	SELECT board_like, board_dislike
	FROM board
	WHERE board_no = #{boardNo}
</select>

<!-- 댓글 쓰기 -->
<insert id="addReply" parameterType="Reply">
	INSERT INTO reply(board_no, reply_content, member_id, reply_reg_date)
	VALUES(#{boardNo}, #{replyContent}, #{memberId}, SYSDATE())
</insert>

<!-- 댓글 수정 -->
<update id="updateReply" parameterType="Reply">
	UPDATE reply
	SET reply_content = #{replyContent}, reply_reg_date = SYSDATE()
	WHERE reply_no = #{replyNo}
</update>

<!-- 댓글 삭제 -->
<delete id="deleteReply">
	DELETE FROM reply
	WHERE reply_no = #{replyNo}
</delete>

<!-- 댓글 전체 삭제 -->
<delete id="deleteAllReply">
	DELETE FROM reply
	WHERE board_no = #{boardNo}
</delete>
</mapper>